<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  @if (meta)
  @!meta.tags({ ...meta, title })
  @endif



  @viteReactRefresh()
  @vite(['resources/css/app.css', 'resources/js/app.jsx'])


</head>

<body>

  <div class="page-wrapper">
    {{{ await $slots.main() }}}
  </div>
  @!layout.footer()


</body>

</html>