@unocss;

button {
  border: none;
}

.btn {
  @apply m-0 p-0 inline-block h-32px px-8px py-6px rounded-8px font-500 text-14px leading-1 bg-blend-color-burn;
}

.btn-primary {
  @apply: text-white;
  background: theme("colors.contrast");
  box-shadow:
    0 0 0 1px rgba(126 90 255 / 1),
    0 1.5px 2px 0 rgba(0 0 0 / 0.24);

  /* padding: 4px 6px;
    border-radius: 6px;
    height: 28px; */
}

.btn-primary__none {
  @apply p-0 m-0 inline-flex outline-none border-none bg-none text-primary;
}

.btn-secondary {
  color: rgb(74 80 92);
  background:
    linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
  box-shadow:
    0 0 0 1px rgba(25 28 33 / 0.14),
    0 1.5px 2px 0 rgba(0 0 0 / 0.12);

  &:hover {
    background: rgb(245 246 247);
    color: rgb(25 28 33);
  }
}
