:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}

@media screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}

.container-wrapper {
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.container > * {
  box-sizing: border-box;
  max-width: min(var(--container-width), calc(100% - 2 * var(--container-padding)));
  margin-inline: auto;
}

.container.narrow {
  --container-width: 700px;

  & * + * {
    padding-bottom: 0.5rem;
  }

  hr {
    padding-block: 0.5rem;
  }

  ul {
    list-style: circle;
  }

  h1 {
    line-height: normal;
    padding-bottom: 1rem;
  }
}
