@layout({
title: 'page home',
meta: {
desc: `Take your AdonisJS skills to the next level with Adocasts. Our comprehensive video lessons cover everything from
the basics to advanced topics. Join our community today and start learning!`,
index: true
},
})

@section()
hello world
@end

<button class="contrast">sauvegarder</button>

@end