@let(value = $props.value ?? "")
@let(data = {name})
@assign(el = el ||'label')

@inject({...data, model})


<{{el}} class="flex flex-col mb-6 relative {{$props.class}}"">
    @if(lable)
    <span class=" block text-sm font-medium leading-6"> {{label}}</span>
    @endif

    {{inspect(data)}}

    {{{ await $slots.main()}}}


</{{el}}>