@unocss;

.table-padding th,
td {
  @apply first:pl-24px;
  @apply p-[10px_24px_10px_0];
  @apply relative
  /* Utilise la directive @apply pour UnoCSS */;
}

.dashboard__layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas: 'nav main';
}

.dashboard__layout > .sidebar {
  grid-area: nav;
}

.dashboard__layout > .main {
  grid-area: main;
}
