@layout({
title: 'Blogs & News',
meta: {
index: true
}
})




<div class=''>je suis le blog
    @each((item, index) in rows)
    @!articles.item({index: index, item})
    @end
</div>

@if(items.hasPages)
@!pagination({items})
@endif






@end